Package: com.yourcompany.tweakinject
Name: TweakInject
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: CoolStar
Author: CoolStar
Section: Tweaks
